[Unit]
Description=Web socket server for Eyesy web server.

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/Eyesy/web/node
ExecStart=node websockettailer.js

[Install]
WantedBy=multi-user.target
